@{
    ViewBag.Title = "retuoW";
}


<div class="row" id="startText">
    <div class="linePartOne">
        <p class="primary-underline welcome-underline" id="welcome"> Welcome to the webpage of </p>
        <div class="half-circle-right"></div>
    </div>
    <div  class="linePartTwo">
        <div class="primary-underline firstname-underline" > <p id="firstname"> retuoW </p> </div>
        <div class="half-circle-left"></div>
    </div>
    <p class="primary-underline lastname-underline" id="lastname"> Vande Velde </p>
</div>